{
  "env": {
    "module": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "6.10"
            },
            "modules": false
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
        // , [
        //   "@babel/plugin-transform-runtime",
        //   {
        //     "regenerator": true
        //   }
        // ]
      ]
    }
  },
  "sourceMaps": true
}
